* {
  margin: 0;
  padding: 0;
}
.content {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.player1-div {
  width: 30%;
  background-image: url("./images/galo.jpg");
  background-size: cover;
}

.player2-div {
  width: 30%;
  background-image: url("./images/galinha.jpg");
  background-size: cover;
}

.game {
  width: 40%;

  display: flex;
  flex-direction: column;
  background-image: url("./images/arena.jpg");
  background-size: cover;
}

h1 {
  margin-top: 250px;
}

h1,
.game-board,
.game-info,
.buttons {
  margin-left: 200px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
}

.cell {
  display: flex;
  background-color: white;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.current-message {
  background-color: red;
}
